.navbar {
  height: 100px;
  width: 100%;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trainermain {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  width: 100%;
}

.trainersTable {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 800px;
  
  
}


.drillmain {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  width: 100%;

}

.drilltable {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 800px;

}