.navbar {
  height: 300px;
  width: 100%;
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://lh3.googleusercontent.com/u3SaizKkTRDMryv65JjZZ0bQlQ4DKP93E28V75bkPFZ8KamvtEcSbWt96CnUl9RAK_BBNMrMV6ea3smvYVJqFs35yFtkHiC7tsWxy3JLtg6cZQeUIKuoOgvBJ3yfbky1cq2c7xOxFJvwEyNB--VqQBJJY27Rj8TFDqD6tNmmx5hZUJosiBaxX1PEHOYrgX58luQdOBnPm2Nj1MVNq80j6njHY-rNZvmP2aT1qQwvxY2W6d8FFxnvlsiUEezfMaN-xKyj2j3ag1pT3FrJawias90L4KjenFUt_SkurrpILTIfvl7H9E2ZjY3EDRxNr--vhjxCos48FszkWfNdr9MioKQDC-gSeZeMRxmrTlW_wWVNIEXMRi5pmTToE5Cx8SGAX15tBnK6a91yWbVhxcB0W0_juR8jsub1tRsa58GjUccaqU1FqpUhKu3Xyb5PoxvZHbKYUE1VUE1mxoPEIom-LLq0t151m4rR0uO3evwJ5-fWlZe2d2KilD1nkrD0k75tgiS345TUc8_ejA456Zs2yOJd-RlKOKnssFi4YI4DjihQh0B7W49zb-g0xIBz811ogxvkewn-LNHivZpyAXJSyMZtwAsO7fcVRwneEymuaYIv9KRa1H2p33TomGZ8aZ5q94qEIKEASFJ1ZzHV427wYB4rJC5Ly0XiidxGw_XLYnXMpf5q2VAZu927=w876-h659-no");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #f2f2f2;
  /* font-style:  ; */
}

.trainermain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  width: 100%;
}

.trainersTable {
  background-color: #a39b9b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  
  
}

/* 
.drillmain {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  
  width: 100%;

} */

.drilltable {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 400px;

}


/* .mydrillbody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
} */

.mydrills {

  
}

.createdrillbutton {
  border-radius: 25px;
  background-color: rgb(223, 206, 206);
}